@import "fonts";
@import "vars.scss";
@import "global.scss";
@import "mixins.scss";
@import "header.scss";
@import "footer.scss";

// styles

.section {
  &-hidden {
    overflow: hidden;
  }
  &-pad {
    padding: 100px 0;
    @media(max-width: 980px) {
      padding: 80px 0;
    }
    @media(max-width: 767px) {
      padding: 64px 0;
    }
    &-top {
      padding-top: 100px;
      @media(max-width: 980px) {
        padding-top: 80px;
      }
      @media(max-width: 767px) {
        padding-top: 64px;
      }
    }
    &-bottom {
      padding-bottom: 100px;
      @media(max-width: 980px) {
        padding-bottom: 80px;
      }
      @media(max-width: 767px) {
        padding-bottom: 64px;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--orange, $orange);
  }
}

.text {
  &-up {
    text-transform: uppercase;
  }
}

.accordion {
  &__item {
    border-bottom: 1px solid rgba(29, 27, 27, 0.2);
    overflow: hidden;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    &.active {
      .accordion__icon {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 14px 0;
  }
  &__caption {
    font-size: 20px;
    @media(max-width: 980px) {
      font-size: 18px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    min-width: 46px;
    height: 46px;
    padding: 11px;
    border-radius: 100%;
    background-color: var(--orange, $orange);
    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: transform 0.3s ease-out;
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding-bottom 0.3s ease-out;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 80px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: #F9F9F9;
    font-weight: 500;
    &.active {
      pointer-events: none;
      background: var(--green-light, $green-light);
    }
    @media(max-width: 767px) {
      width: 36px;
      height: 36px;
    }
  }
  @media(max-width: 980px) {
    margin-top: 46px;
  }
  @media(max-width: 767px) {
    margin-top: 36px;
  }
}

// tabs

.tabs {
  &__nav {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

  }
  &__content {
    display: block;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .tabs__nav .trigger {
    display: none;
  }
  .tabs__nav .mobile-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid var(--dark, $dark);
    color: var(--dark, $dark);
    background: url(../img/down.svg) transparent no-repeat top 50% right 12px;
    cursor: pointer;
    option {
      width: 100%;
      color: var(--dark, $dark);
    }
    &:focus {
      outline: 0;
    }
  }
}

@media (min-width: 768px) {
  .tabs__nav .mobile-select {
    display: none;
  }
}

// modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 63, 130, 0.36);
  z-index: 9;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 555px;
    width: calc(100% - 32px);
    padding: 46px;
    border-radius: 20px;
    border: 3px solid var(--orange, $orange);
    background-color: var(--light, $light);
    @media(max-width: 767px) {
      padding: 20px;
      padding-top: 46px;
    }
  }
  &__close {
    position: absolute;
    top: 26px;
    right: 26px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    @media(max-width: 767px) {
      top: 16px;
      right: 16px;
    }
  }
  &__title {
    margin-bottom: 36px;
    text-align: center;
    @media(max-width: 767px) {
      margin-bottom: 26px;
    }
  }
  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    input:not([type="radio"]):not([type="checkbox"]) {
      padding: 18px;
      border-radius: 26px;
      border: 0;
      &::placeholder {
        color: rgba(29, 27, 27, 0.5);
      }
      @media(max-width: 767px) {
        padding: 16px;
      }
    }
    button {
      width: 100%;
    }
  }
  &__check {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    input[type=checkbox] {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      display: inline-block;
      height: 18px;
      width: 18px;
      margin: 0;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 5px;
      background: transparent;
      outline: none;
      cursor: pointer;
      transition: border-color 0.3s;
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        display: block;
        width: 5px;
        height: 9px;
        border: 2px solid #FFFFFF;
        border-top: 0;
        border-left: 0;
        opacity: var(--o, 0);
        transform: rotate(43deg);
        transition: transform 0.3s ease, opacity 0.2s;
      }
      &:checked {
        --o: 1;
      }
    }
    label {
      cursor: pointer;
    }
  }
  &__phones {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 36px;
    a {
      display: block;
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--orange, $orange);
      text-align: center;
      transition: color 0.3s ease-out;
      &:hover {
        cursor: pointer;
        color: var(--orange, $orange);
      }
    }
  }
  &__address {
    text-align: center;
  }
}

// sections

.hero {
  position: relative;
  border-radius: 0 0 26px 26px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.32);
  }
  .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    @media(max-width: 767px) {
      object-position: 38% 50%;
    }
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 100px);
    z-index: 1;
  }
  &__title {
    max-width: 630px;
    margin-bottom: 32px;
    color: var(--light, $light);
    line-height: 1.2em;
    transform: translate3d(0,-50px,0);
    opacity: 0;
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    animation-delay: 0.2s;
    @media (max-width: 980px) {
      font-size: 36px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  &__txt {
    max-width: 475px;
    color: var(--light, $light);
    font-size: 22px;
    transform: translate3d(0,-50px,0);
    opacity: 0;
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    animation-delay: 0.3s;
    @media(max-width: 980px) {
      font-size: 20px;
    }
    @media(max-width: 767px) {
      font-size: 18px;
    }
  }
  &__nav {
    transform: translate3d(0,50px,0);
    opacity: 0;
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    animation-delay: 0.4s;
    &_1 {
      margin-top: 100px;
    }
    &_2 {
      position: relative;
      padding: 40px 0;
      border-radius: 26px;
      background-color: var(--green-light, $green-light);
      z-index: 1;
      @media(max-width: 980px) {
        padding: 32px 0;
      }
      @media(max-width: 767px) {
        padding: 28px 0;
      }
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    font-family: ZonaPro;
    line-height: 1;
    text-transform: uppercase;
    &_1 {
      gap: 42px;
      color: var(--light, $light);
      font-size: 22px;
      overflow-y: hidden;
      overflow-x: auto;
      a {
        position: relative;
        display: block;
        padding-bottom: 18px;
        white-space: nowrap;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 0;
          background-color: var(--green-light, $green-light);
        }
        &.active {
          color: var(--green-light, $green-light);
          font-weight: 700;
          &::before {
            width: 100%;
          }
        }
      }
      @media(max-width: 980px) {
        gap: 32px;
        font-size: 20px;
      }
      @media(max-width: 767px) {
        font-size: 18px;
      }
    }
    &_2 {
      flex-wrap: wrap;
      column-gap: 46px;
      row-gap: 28px;
      font-size: 18px;
      a {
        position: relative;
        display: block;
        white-space: nowrap;
        &.active {
          font-weight: 700;
        }
      }
      @media(max-width: 980px) {
        column-gap: 32px;
        font-size: 16px;
      }
      @media(max-width: 767px) {
        justify-content: center;
        gap: 24px;
        font-size: 14px;
      }
    }
  }
}

.about {
  &__container {
    position: relative;
    @media (max-width: 767px) {
      padding-bottom: 74px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    max-width: calc(84% );
    margin-left: auto;
    @media (max-width: 980px) {
      max-width: unset;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    max-width: calc(84% );
    margin-left: auto;
    margin-bottom: 36px;
    @media (max-width: 980px) {
      max-width: unset;
    }
  }
  &__desc {
    max-width: 70%;
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 980px) {
      max-width: unset;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__txt {
    max-width: 55%;
    font-size: 18px;
    @media (max-width: 980px) {
      max-width: unset;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__slider {
    height: 400px;
    margin: 26px 0;
    @media (max-width: 767px) {
      height: 389px;
      margin: 0;
      margin-top: 24px;
    }
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 32.5%;
    transition: all 0.3s ease-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
    &.swiper-slide-prev {
      width: calc(16% - 24px);
      img {
        height: 197px;
        @media (max-width: 767px) {
          height: 100%;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &.swiper-slide-active {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &.swiper-slide-next {
      width: calc(34% - 24px);
      img {
        height: 311px;
        @media (max-width: 767px) {
          height: 100%;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__arrows {
    display: flex;
    align-items: center;
    gap: 26px;
    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      justify-content: center;
      width: 100%;
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--green-light, $green-light);
    svg {
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.faq {
  border-radius: 20px;
  color: var(--light, $light);
  background-color: var(--blue, $blue);
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 33% 66%;
    gap: 24px;
    @media(max-width: 980px) {
      grid-template-columns: 100%;
      padding-bottom: 358px;
    }
  }
  &__img {
    width: 100%;
    height: 510px;
    transform: scale(1.3);
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    @media(max-width: 980px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scale(1.3);
      height: 334px;
    }
  }
  &__accordion {
    margin-bottom: 36px;
  }
  .accordion__caption {
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 400;
    @media(max-width: 980px) {
      font-size: 20px;
    }
    @media(max-width: 767px) {
      font-size: 18px;
    }
  }
  .accordion__item {
    border-color: var(--light, $light);
  }
  &__button {
    &::before {
      background-color: var(--orange, $orange);
    }
  }
  &-page {
    &__title {
      margin-bottom: 46px;
      @media(max-width: 767px) {
        margin-bottom: 36px;
      }
    }
  }
}

.trust {
  &__container {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: flex-start;
    gap: 24px;
    @media(max-width: 1200px) {
      grid-template-columns: 100%;
    }
  }
  &__cards {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  &__card {
    flex: 0 1 25%;
    display: flex;
    align-items: flex-end;
    height: 218px;
    padding: 22px;
    border-radius: 20px;
    border: 1px solid #003F82;
    border-left-width: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: Gilroy;
    line-height: 1;
    img {
      margin: auto;
      object-fit: contain;
    }
    &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(6) {
      order: -1;
    }
    &:nth-child(6) {
      @media(max-width: 980px) {
        order: 0;
      }
    }
    &:nth-child(4n) {
      border-left-width: 1px;
      @media (max-width: 767px) {
        border-left-width: 0;
      }
    }
    &:nth-child(3) {
      @media(max-width: 767px) {
        order: 0;
      }
    }
    &:last-child {
      border-left-width: 1px !important;
    }
    &.empty {
      display: none;
    }
    @media(max-width: 980px) {
      flex: 0 1 33%;
    }
    @media(max-width: 767px) {
      flex: 0 1 50%;
      height: 168px;
      padding: 16px;
      font-size: 16px;
    }
  }
}

.gallery {
  &__wrap {
    display: grid;
    grid-template-columns: 25% 50%;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 36px;
    @media(max-width: 980px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__sliders {
    .swiper {
      height: auto;
    }
    .gallerySwiper2 {
      height: 174px;
      padding-bottom: 36px;
      border-bottom: 1px solid rgba(29, 27, 27, 0.1);
      @media(max-width: 767px) {
        padding-bottom: 24px;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 33px;
        border-radius: 20px;
        border: 1px solid var(--dark, $dark);
        background-color: var(--light, $light);
        font-weight: 600;
        font-family: ZonaPro;
        line-height: 1;
        transition: border 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
        &:hover {
          cursor: pointer;
          border: 1px solid var(--orange, $orange);
          color: var(--orange, $orange)
        }
        &-thumb-active {
          border: 1px solid var(--orange, $orange);
          color: var(--light, $light);
          background-color: var(--orange, $orange);
          pointer-events: none;
        }
      }
    }
    .gallerySwiper {
      .swiper-slide {
        background-color: var(--light, $light);
      }
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 25% 50%;
    align-items: flex-start;
    margin-bottom: 36px;
    h4 {
      grid-column: 2 / 3;
      margin-bottom: 36px;
      @media(max-width: 980px) {
        grid-column: unset;
        margin-bottom: 24px;
      }
      @media(max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    .desc {
      grid-column: 2 / 3;
      max-width: 410px;
      @media(max-width: 980px) {
        grid-column: unset;
      }
      @media(max-width: 767px) {
        max-width: 100%;
      }
    }
    @media(max-width: 980px) {
      grid-template-columns: 100%;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 2.9fr 1.2fr 1.9fr;
    gap: 24px;
    @media(max-width: 980px) {
      grid-template-columns: 1.8fr 1.2fr;
    }
    @media(max-width: 767px) {
      grid-template-columns: 100%;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media(max-width: 767px) {
      gap: 14px;
    }
    &:nth-child(3n-1) {
      .gallery__img {
        height: 236px;
      }
    }
  }
  &__img {
    height: 434px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media(max-width: 980px) {
      height: 320px;
    }
    @media(max-width: 767px) {
      height: 236px;
    }
  }
  &__date {
    width: max-content;
    padding: 10px 26px;
    border-radius: 20px;
    border: 1px solid var(--dark, $dark);
    font-family: ZonaPro;
    font-size: 14px;
    line-height: 1;
  }
}

.rent {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    align-items: start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__title {
    margin-bottom: 36px;
    font-weight: 400;
    a {
      transition: color 0.3s ease-out;
      &.active {
        font-weight: 700;
        pointer-events: none;
      }
      &:hover {
        color: var(--orange, $orange);
      }
    }
  }
  &__nav {
    .trigger {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      transition: color 0.3s ease-out;
      &::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 2px;
        left: 0;
        background-color: rgba(29, 27, 27, 0.2);
        transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }
      &.active {
        color: var(--orange, $orange);
        font-size: 22px;
        font-weight: 500;
        &::before {
          width: 200px;
          background-color: var(--orange, $orange);
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
      }
    }
  }
  &__content {
    .targets {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transform: translate(0);
      height: 100%;
      padding-bottom: 10px;
      transition: transform .5s ease-out;
  
      .target {
        min-width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        transform: translateY(10rem);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  
        &.active {
          transform: translateY(0rem);
          opacity: 1;
        }
      }
    }
  }
  &__img {
    height: 332px;
    margin-bottom: 36px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__price {
    margin-bottom: 24px;
    color: var(--orange, $orange);
    font-family: ZonaPro;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }
  &__caption {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 36px;
  }
}

.teams {
  &__container {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__nav {
    gap: 0;
    border-radius: 12px;
    border: 1px solid rgba(29, 27, 27, 1);
    overflow: hidden;
    .trigger {
      position: relative;
      padding: 20px 24px;
      margin: 0;
      background-color: var(--light, $light);
      font-weight: 500;
      font-size: 20px;
      transition: background-color 0.3s ease-out, color 0.3s ease-out, margin 0.3s ease-out;
      &:first-of-type {
        &.active {
          margin: 24px 0 0 0;
        }
      }
      &:last-of-type {
        &.active {
          margin: 0 0 24px 0;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--orange, $orange);
        transition: width 0.3s ease-out;
      }
      &.active {
        pointer-events: none;
        color: var(--light, $light);
        font-weight: 600;
        &::before {
          width: 100%;
        }
      }
      span {
        position: relative;
        z-index: 1;
      }
      &:hover {
        cursor: pointer;
      }
    }
    @media (max-width: 767px) {
      border-radius: 0;
      border: 0;
    }
  }
  &__content {
    .targets {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transform: translate(0);
      height: 100%;
      padding-bottom: 10px;
      transition: transform .5s ease-out;
  
      .target {
        min-width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        transition: opacity 0.3s ease-out;
  
        &.active {
          opacity: 1;
        }
      }
    }      
  }
  &__title {
    margin-bottom: 36px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    &__img {
      height: 186px;
      margin-bottom: 20px;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 10%;
      }
    }
    &__caption {
      margin-bottom: 14px;
      font-size: 20px;
    }
    &__position {
      margin-bottom: 14px;
    }
    &__experience {
      font-weight: 600;
    }
  }
}

.tourney {
  &__container {
    position: relative;
  }
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
      margin-bottom: 36px;
    }
  }
  &__title {
    margin-bottom: 46px;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &__desc {
    font-size: 20px;
  }
  &__wrap {
    max-width: 50%;
    @media (max-width: 767px) {
      max-width: unset;
    }
  }
  &__img {
    height: 340px;
    border-radius: 20px;
    overflow: hidden;
    &_1 {
      margin-bottom: 36px;
    }
    &_2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 33%;
      @media (max-width: 980px) {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 500;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    a {
      font-weight: 400;
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--orange, $orange);
      }
    }
  }
  &__button {
    min-width: 411px;
    @media (max-width: 767px) {
      min-width: unset;
    }
  }
}

.brunch {
  &__title {
    justify-content: center;
    margin-bottom: 36px;
  }
  &__subtitle {
    max-width: 894px;
    margin: 0 auto;
    margin-bottom: 26px;
    color: var(--orange, $orange);
    font-family: ZonaPro;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: justify;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-bottom: 26px;
    p {
      max-width: 411px;
    }
    @media (max-width: 767px) {
      max-width: unset;
    }
  }
  &__img {
    height: 440px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 767px) {
      height: 320px;
    }
  }
}

.master {
  &__title {
    margin-bottom: 36px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 0;
    border-bottom: 1px solid rgba(29, 27, 27, 0.5);
    color: rgba(29, 27, 27, 0.5);
    &:first-child {
      border-top: 1px solid rgba(29, 27, 27, 0.5);
    }
    &:hover {
      cursor: pointer;
      img {
        opacity: 1;
      }
      .master__caption{
        color: var(--dark, $dark);
      }
      .master__txt {
        color: var(--dark, $dark);
      }
      .master__link {
        color: var(--orange, $orange);
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translateY(-50%);
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease-out;
    }
  }
  &__caption {
    min-width: 300px;
    transition: color 0.3s ease-out;
  }
  &__txt {
    font-size: 22px;
    font-weight: 600;
    transition: color 0.3s ease-out;
  }
  &__link {
    font-family: ZonaPro;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-out;
  }
}

.arena {
  &__title {
    justify-content: center;
    margin-bottom: 36px;
  }
  &__desc {
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
  &__slider {
    height: 466px;
    .swiper-slide {
      height: 74%;
      border-radius: 20px;
      overflow: hidden;
      transition: height 0.3s ease-out;
      &-active {
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (max-width: 767px) {
      height: 346px;
    }
  }
}

.feedback {
  &__title {
    justify-content: center;
    margin-bottom: 36px;
  }
  &__subtitle {
    max-width: 1063px;
    margin-bottom: 36px;
    color: var(--orange, $orange);
    font-family: ZonaPro;
    font-size: 20px;
    font-weight: 600;
    span {
      display: inline-block;
      width: 18%;
      @media (max-width: 767px) {
        width: 10%;
      }
    }
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: justify;
    }
  }
  &__form {
    max-width: 845px;
    margin-left: auto;
    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 36px;
      column-gap: 24px;
    }
    input {
      flex: 1 1 calc(50% - 12px);
      @media (max-width: 767px) {
        flex: 1 1 100%;
      }
    }
  }
}

.form {
  &-button {
    width: 100%;
  }
}

.info {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__row {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    span {
      display: inline-block;
      width: 18%;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: justify;
    }
  }
  &__desc {
    max-width: 74%;
    @media (max-width: 767px) {
      max-width: unset;
    }
  }
  &__slider {
    overflow: hidden;
    max-width: 845px;
    width: 100%;
    .swiper {
      border-radius: 300px;
    }
    .swiper-wrapper {
      align-items: center;
    }
  }
  &-slide {
    position: relative;
    width: 410px;
    height: 410px;
    overflow: hidden;
    &.swiper-slide {
      transform: scale(0.6) translateX(-60%);
      &-active {
        transform: scale(1) translateX(0) !important;
        transition: transform 0.3s linear;
        z-index: 3;
        @media (max-width: 767px) {
          transform: scale(1) translateX(0) !important;
        }
      }
      &-prev {
        transition: transform 0.3s linear;
      }
      &-next {
        transform: scale(0.8) translateX(-10%)!important;
        z-index: 2;
        @media (max-width: 767px) {
          transform: scale(0.8) translateX(-30%)!important;
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
    @media (max-width: 767px) {
      width: 254px;
      height: 254px;
    }
  }
  &__arrows {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 46px;
    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }
  &-arrow {
    display: flex;
    align-items: center;
    color: var(--orange, $orange);
    font-family: ZonaPro;
    font-weight: 600;
    svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.prof {
  &-card {
    max-width: 220px;
    &__img {
      height: 250px;
      margin-bottom: 20px;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__caption {
      margin-bottom: 14px;
      line-height: 1.2em;
    }
  }
}

.tennis {
  &__title {
    margin-bottom: 46px;
    @media (max-width: 767px) {
      margin-bottom: 36px;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__nav {
    gap: 16px;
    padding-right: 24px;
    border-right: 1px solid rgba(152, 151, 151, 0.5);
    overflow: hidden;
    .trigger {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 20px;
      border-radius: 5px;
      background-color: var(--light, $light);
      transition: background-color 0.3s ease-out, color 0.3s ease-out, margin 0.3s ease-out;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        background-color: var(--green-light, $green-light);
        transition: width 0.3s ease-out;
      }
      &:nth-of-type(1) {
        h4 {
          color: rgba(174, 81, 107, 1);
          &::before {
            background-color: rgba(174, 81, 107, 1);
          }
        }
      }
      &:nth-of-type(2) {
        h4 {
          color: rgba(235, 37, 42, 1);
          &::before {
            background-color: rgba(235, 37, 42, 1);
          }
        }
      }
      &:nth-of-type(3) {
        h4 {
          color: rgba(246, 130, 25, 1);
          &::before {
            background-color: rgba(246, 130, 25, 1);
          }
        }
      }
      &:nth-of-type(4) {
        h4 {
          color: rgba(54, 168, 101, 1);
          &::before {
            background-color: rgba(54, 168, 101, 1);
          }
        }
      }
      &:nth-of-type(5) {
        h4 {
          color: rgba(12, 94, 145, 1);
          &::before {
            background-color: rgba(12, 94, 145, 1);
          }
        }
      }
      h4 {
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;
        text-transform: uppercase;
        z-index: 1;
        &::before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 100%;
        }
      }
      span {
        position: relative;
        display: inline-block;
        padding-left: 34px;
        color: rgba(152, 151, 151, 1);
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        z-index: 1;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      &.active {
        pointer-events: none;
        &::before {
          width: 100%;
        }
      }
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 767px) {
        padding: 16px;
        font-size: 18px;
      }
    }
  }
  &__content {
    .targets {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transform: translate(0);
      height: 100%;
      padding-bottom: 10px;
      transition: transform .5s ease-out;
  
      .target {
        display: flex;
        flex-direction: column;
        gap: 46px;
        min-width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        transition: opacity 0.3s ease-out;
  
        &.active {
          opacity: 1;
        }
      }
    }      
  }
  &__desc {
    font-size: 18px;
  }
  &__list {
    max-width: 627px;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(152, 151, 151, 0.5);
      font-size: 20px;
      line-height: 1;
      span {
        font-family: ZonaPro;
        font-weight: 600;
      }
    }
  }
}

.lessons {
  &__title {
    margin-bottom: 46px;
    @media (max-width: 767px) {
      margin-bottom: 36px;
    }
  }
  &__subtitle {
    max-width: 794px;
    margin: 0 auto;
    margin-bottom: 26px;
    color: var(--orange, $orange);
    font-family: ZonaPro;
    font-size: 20px;
    font-weight: 600;
    span {
      display: inline-block;
      width: 10%;
      @media (max-width: 767px) {
        width: 5%;
      }
    }
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: justify;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: 217px 1fr 217px;
    gap: 24px;
    margin-bottom: 26px;
    @media (max-width: 980px) {
      grid-template-columns: 1fr 217px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &__img {
    overflow: hidden;
    &_sm {
      height: 250px;
      border-radius: 12px;
      @media (max-width: 980px) {
        display: none;
      }
    }
    &_lg {
      height: 430px;
      border-radius: 20px;
      @media (max-width: 767px) {
        height: 250px;
        border-radius: 12px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__button {
    width: calc(100% - 482px);
    margin: 0 auto;
    @media (max-width: 980px) {
      width: calc(100% - 241px);
      margin: 0;
    }
  }
}

.parents {
  &__title {
    margin-bottom: 46px;
    @media (max-width: 767px) {
      margin-bottom: 36px;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: 33% 66%;
    align-items: start;
    gap: 24px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
      gap: 36px;
    }
  }
  &__nav {
    gap: 0;
    border-radius: 12px;
    border: 1px solid var(--dark, $dark);
    overflow: hidden;
    .trigger {
      position: relative;
      padding: 20px 24px;
      margin: 0;
      background-color: var(--light, $light);
      font-weight: 500;
      font-size: 20px;
      transition: background-color 0.3s ease-out, color 0.3s ease-out, margin 0.3s ease-out;
      &:first-of-type {
        &.active {
          margin: 24px 0 0 0;
        }
      }
      &:last-of-type {
        &.active {
          margin: 0 0 24px 0;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--orange, $orange);
        transition: width 0.3s ease-out;
      }
      &.active {
        pointer-events: none;
        color: var(--light, $light);
        font-weight: 600;
        &::before {
          width: 100%;
        }
      }
      span {
        position: relative;
        z-index: 1;
      }
      &:hover {
        cursor: pointer;
      }
    }
    @media (max-width: 767px) {
      border-radius: 0;
      border: 0;
    }
  }
  &__content {
    .targets {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transform: translate(0);
      height: 100%;
      padding-bottom: 10px;
      transition: transform .5s ease-out;
  
      .target {
        min-width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0;
        transition: opacity 0.3s ease-out;
  
        &.active {
          opacity: 1;
        }
      }
    }      
  }
  &__caption {
    margin-bottom: 36px;
    font-size: 24px;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 80%;
    margin-bottom: 36px;
    @media (max-width: 767px) {
      gap: 16px;
      max-width: unset;
    }
  }
}

.news {
  &__title {
    justify-content: center;
    margin-bottom: 36px;
    @media(max-width: 767px) {
      justify-content: flex-start;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 36px;
    @media(max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 767px) {
      grid-template-columns: 100%;
    }
  }
  &-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media(max-width: 767px) {
      grid-template-columns: 112px 1fr;
      gap: 12px;
    }
    &:first-child {
      grid-row: span 3;
      grid-column: span 2;
      padding-right: 24px;
      border-right: 2px solid var(--orange, $orange);
      .news-card__img {
        height: 100%;
        max-height: unset;
        @media(max-width: 767px) {
          height: 326px;
        }
      }
      .news-card__caption {
        font-size: 22px;
      }
      .news-card__txt {
        display: block;
      }
      .news-card__more {
        margin: 0;
      }
      @media(max-width: 1200px) {
        padding-right: 0;
        padding-bottom: 24px;
        border-right: 0;
        border-bottom: 2px solid var(--orange, $orange);
      }
      @media(max-width: 767px) {
        grid-row: unset;
        grid-column: unset;
        grid-template-columns: 100%;
        gap: 16px;
      }
    }
    &:hover {
      .news-card__img {
        img {
          transform: scale(1.1);
        }
      }
      .news-card__more {
        &::before {
          transform-origin: 0% 50%;
          transform: scale3d(0, 1, 1);
          transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
        }
      }
    }
    &__img {
      height: 10vw;
      min-height: 112px;
      max-height: 200px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 18px;
      @media(max-width: 767px) {
        gap: 12px;
      }
    }
    &__date {
      color: var(--orange, $orange);
      font-family: ZonaPro;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      @media(max-width: 767px) {
        font-size: 12px;
      }
    }
    &__txt {
      display: none;
    }
    &__more {
      position: relative;
      width: max-content;
      margin-top: auto;
      padding-bottom: 4px;
      color: var(--orange, $orange);
      font-weight: 500;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--orange, $orange);
      }
      &::before {
        transform-origin: 100% 50%;
        transform: scale3d(1, 1, 1);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
      }
    }
  }
  &__button {
    margin: 0 auto;
  }
  &-events {
    &__title {
      margin-bottom: 26px;
      font-weight: 600;
    }
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__card {
      display: grid;
      grid-template-columns: 112px 1fr;
      gap: 20px;
      &:hover {
        .news-events__img{
          img {
            transform: scale(1.1);
          }
        }
        .news-events__caption {
          color: var(--orange, $orange);
        }
      }
    }
    &__img {
      height: 112px;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    &__date {
      font-size: 14px;
    }
    &__caption {
      line-height: 1.4em;
      transition: color 0.3s ease-out;
    }
    @media(max-width: 980px) {
      order: 1;
    }
  }
  &-page {
    &__container {
      display: grid;
      grid-template-columns: 33% 66%;
      gap: 24px;
      @media(max-width: 980px) {
        grid-template-columns: 100%;
        gap: 36px;
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 46px;
    }
    &__card {
      border-bottom: 1px solid rgba(29, 27, 27, 0.1);
      &:hover {
        .news-page__caption {
          color: var(--orange, $orange);
        }
        .news-page__img{
          img {
            transform: scale(1.1);
          }
        }
        .news-page__link {
          svg {
            transform: translateX(6px);
          }
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 26px;
      padding: 20px 0;
    }
    &__img {
      height: 417px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
      }
      @media(max-width: 767px) {
        height: 320px;
      }
    }
    &__date {
      width: max-content;
      padding: 10px 18px;
      border: 1px solid var(--dark, $dark);
      border-radius: 20px;
      font-family: ZonaPro;
      font-size: 14px;
      line-height: 1;
      @media(max-width: 767px) {
        padding: 8px 14px;
      }
    }
    &__caption {
      transition: color 0.3s ease-out;
    }
    &__link {
      display: flex;
      align-items: center;
      color: var(--orange, $orange);
      font-family: ZonaPro;
      font-weight: 600;
      svg {
        transition: transform 0.3s ease-out;
      }
    }
  }
  &-inner {
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
    &__date {
      width: max-content;
      padding: 10px 18px;
      border: 1px solid var(--dark, $dark);
      border-radius: 20px;
      font-family: ZonaPro;
      font-size: 14px;
      line-height: 1;
      @media(max-width: 767px) {
        padding: 8px 14px;
      }
    }
    &__img {
      height: 417px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media(max-width: 767px) {
        height: 320px;
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media(max-width: 767px) {
        gap: 16px;
      }
    }
  }
  &-other {
    &__title {
      margin-bottom: 36px;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      @media(max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media(max-width: 767px) {
        grid-template-columns: 100%;
      }
    }
    &__card, &__box {
      display: flex;
      flex-direction: column;
      gap: 18px;
      @media(max-width: 767px) {
        gap: 16px;
      }
    }
    &__card {
      &:hover {
        .news-other__img {
          img {
            transform: scale(1.1);
          }
        }
        .news-other__caption {
          color: var(--orange, $orange);
        }
      }
    }
    &__img {
      height: 219px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
      }
    }
    &__date {
      width: max-content;
      padding: 10px 18px;
      border: 1px solid var(--dark, $dark);
      border-radius: 20px;
      font-family: ZonaPro;
      font-size: 14px;
      line-height: 1;
      @media(max-width: 767px) {
        padding: 8px 14px;
      }
    }
    &__caption {
      transition: color 0.3s ease-out;
      @media(max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}

.contacts {
  &-page {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      margin-bottom: 46px;
      @media(max-width: 767px) {
        grid-template-columns: 100%;
        margin-bottom: 36px;
      }
    }
    &__title {
      margin-bottom: 46px;
      @media(max-width: 767px) {
        margin-bottom: 36px;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 36px;
      margin-bottom: 46px;
      @media(max-width: 767px) {
        gap: 24px;
        margin-bottom: 36px;
      }
    }
    &__group {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 18px;
      a {
        position: relative;
        display: block;
        width: max-content;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: var(--dark, $dark);
          top: 100%;
          left: 0;
          pointer-events: none;
          transform-origin: 100% 50%;
          transform: scale3d(0, 1, 1);
          transition: transform 0.3s;
        }
        &:hover {
          &::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
          }
        }
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media(max-width: 767px) {
        gap: 16px;
      }
    }
    &__socials {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      padding: 10px;
      border: 0;
      border-radius: 100%;
      background: var(--green-light, $green-light);
      svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: transform 0.3s ease-out;
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
    }
    &__img {
      @media(max-width: 767px) {
        display: none;
      }
    }
    &__map {
      height: 464px;
      margin-bottom: 46px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    &__caption {
      margin-bottom: 46px;
      @media(max-width: 767px) {
        margin-bottom: 36px;
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      @media(max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    &__card {
      height: 464px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media(max-width: 767px) {
        height: 220px;
      }
    }
  }
}

// Thanks

.thanks {
  margin-bottom: -50px;
  color: var(--light, $light);
  background-color: var(--blue, $blue);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding-top: 240px;
    padding-bottom: 170px;
  }
  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin-bottom: 46px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-color: var(--orange, $orange);
      transform: scale(0.2);
      animation: scale 1s cubic-bezier(.39,.575,.565,1) forwards;
      @media(max-width: 767px) {
        width: 180px;
        height: 180px;
      }
    }
    @media(max-width: 767px) {
      min-height: 180px;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
  }
  &__button {
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    &::before {
      background-color: var(--orange, $orange);
    }
  }
}

// 404

.page-error {
  margin-bottom: -50px;
  color: var(--light, $light);
  background-color: var(--blue, $blue);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding-top: 240px;
    padding-bottom: 170px;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    margin-bottom: 36px;
    font-size: 36px;
    font-family: ZonaPro;
    text-align: center;
    line-height: 1;
    animation: down-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    @media(max-width: 767px) {
      margin-bottom: 26px;
      font-size: 26px;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    font-size: 212px;
    span {
      &:nth-child(1) {
        transform-origin: 50% 100% 0px;
        transform: rotateX(0);
        animation: easyoutelastic 5s infinite;
        animation-delay: 1s;
      }
      &:nth-child(2) {
        color: var(--orange, $orange);
      }
      &:nth-child(3) {
        transform-origin: 100% 100% 0px;
        transform: rotate(0deg);
        animation: rotatedrop 5s infinite;
        animation-delay: 1s;
      }
    }
    @media(max-width: 767px) {
      margin-bottom: 26px;
      font-size: 150px;
    }
  }
  &__button {
    animation: up-2 1s cubic-bezier(.39,.575,.565,1) forwards;
    &::before {
      background-color: var(--orange, $orange);
    }
  }
}

// keyframes

@keyframes down {
  0% {
    transform: translate3d(0,-100px,0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes down-2 {
  0% {
    transform: translate3d(0,-50px,0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes up-2 {
  0% {
    transform: translate3d(0,50px,0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}